<div class="modal" id="ex1">
    <div class="modal-container">
        <div class="modal-meat-description">
            <div class="modal-content-wrapper">
                <div class="meat-card-header">
                    <p class="option-title-white">Beef Round Cut</p>
                </div>
                <p class="option-description-white">Round cuts come the rear leg of the cow. This makes for a rip and chew texture like how beef jerky was made back in the day. We wanted to stay true to the Texas roots and give you a package that the cowboys would enjoy. This is a beef jerky recipe that has been around since 1968. These are mesquite smoked in a wood fire smoker for 12 hours to get the perfect dried jerky texture.This beef jerky melts in your mouth after a couple of chomps and you will not be disappointed. Gluten and MSG FREE!</p>
                <div class="modal-icons-wrapper">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'glutenWhite.svg' | asset_url }}">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'ketoWhite.svg' | asset_url }}">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'sugarWhite.svg' | asset_url }}">
                </div>

            </div>
        </div>
        <div class="modal-meat-source">
            <div class="modal-content-wrapper">
                <p class="option-title-black-modal">From Texas Farms</p>
                <p class="option-description-black-modal">We use only USA only meat that is locally sourced from farms in Texas. 13% of the entire cattle population in the United States resides in Texas so we created this program to bring you these sourced meats.</p>
            </div>
        </div>
        <div class="modal-meat-description-1">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Beef Round Cut</p>
            </div>
        </div>
        <div class="modal-image-container">
            <div class="modal-image-wrapper">
                <div class="modal-img">
                    <img class="lazyload beef-img blur-up" data-src="{{ 'beefDiagram.png' | asset_url }}">
                </div>
            </div>
        </div>
        <div class="modal-meat-ingredients">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Ingredient List and Flavors</p>
                <p class="option-description-white">These recipes have been around since 1963. Our beef round cut jerky bags come in 3 different flavors.</p>
            </div>
        </div>
        <div class="modal-flavor-container">
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up" data-src="{{ 'modalFlavorHot.svg' | asset_url }}">
                <p class="option-description-title-white">Hot and Spicy</p>
            </div>
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up" data-src="{{ 'modalFlavorOriginal.svg' | asset_url }}">
                <p class="option-description-title-white original-icon">Original</p>
            </div>
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up garlic-icon" data-src="{{ 'modalFlavorGarlic.svg' | asset_url }}">
                <p class="option-description-title-white">Garlic</p>
            </div>
        </div>
        <div class="modal-meat-build-your-bag">
            <div class="modal-content-wrapper">
                <p class="modal-footer-header">Build Your Bag</p>
                <p class="modal-footer-description">Get locally sourced jerky products from Texas.</p>
                <p class="modal-footer-description" style="font-size: 18px;padding: 1rem 0;">Starting at only $9.99!</p>
                <a class="modal-button go-to-shop-btn" href="#buy" rel="modal:close">GET STARTED</a>
            </div>
        </div>
        <div class="modal-img">
            <img class="lazyload blur-up" data-src="{{ 'beefNutrition.jpg' | asset_url }}">
        </div>
    </div>
</div>

<div class="modal" id="ex2">
    <div class="modal-container">
        <div class="modal-meat-description">
            <div class="modal-content-wrapper">
                <div class="meat-card-header">
                    <p class="option-title-white">Pork Loin</p>
                </div>
                <p class="option-description-white">Loin cuts come from the area between the neck and rear legs. This makes for a very lean cut and soft to the bite texture. We use this cut of meat to make our pork jerky.This is also mesquite smoked for 12 hours and packaged fresh. If you like honey baked ham and love that rich smoky flavor with a hint of sweetness, you’ll love this newest recipe. Gluten and MSG FREE.</p>
                 <div class="modal-icons-wrapper">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'glutenWhite.svg' | asset_url }}">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'ketoWhite.svg' | asset_url }}">
                    <img class="lazyload blur-up icon-padding-right" data-src="{{ 'sugarWhite.svg' | asset_url }}">
                </div>
            </div>
        </div>
        <div class="modal-meat-source">
            <div class="modal-content-wrapper">
                <p class="option-title-black-modal">From Texas Farms</p>
                <p class="option-description-black-modal">We use only USA, non-injected, locally sourced pork to make this quality jerky. Some are already saying it’s their favorite. Short list of ingredients but BIG in flavor!</p>
            </div>
        </div>
        <div class="modal-meat-description-1">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Pork Loin</p>
            </div>
        </div>
        <div class="modal-image-container">
            <div class="modal-image-wrapper">
                <div class="modal-img">
                    <img class="lazyload beef-img blur-up" data-src="{{ 'porkDiagram.png' | asset_url }}">
                </div>
            </div>
        </div>
        <div class="modal-meat-ingredients">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Ingredient List and Flavors</p>
                <p class="option-description-white">These recipes have been around since 1963.</p>
            </div>
        </div>
        <div class="modal-flavor-container">
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up" data-src="{{ 'modalFlavorOriginal.svg' | asset_url }}">
                <p class="option-description-title-white">Original</p>
            </div>
        </div>
        <div class="modal-meat-build-your-bag">
            <div class="modal-content-wrapper">
                <p class="modal-footer-header">Build Your Bag</p>
                <p class="modal-footer-description">Get locally sourced jerky products from Texas.</p>
                <p class="modal-footer-description" style="font-size: 18px;padding: 1rem 0;">Starting at only $9.99!</p>
                <a class="modal-button go-to-shop-btn" href="#buy" rel="modal:close">GET STARTED</a>
            </div>
        </div>
        <div class="modal-img">
            <img class="lazyload blur-up" data-src="{{ 'porkNutrition.jpg' | asset_url }}">
        </div>
    </div>
</div>

<div class="modal" id="ex3">
<div class="modal-container">
    <div class="modal-meat-description">
            <div class="modal-content-wrapper">
                <div class="meat-card-header">
                    <p class="option-title-white">Turkey Breast</p>
                </div>
                <p class="option-description-white">Turkey breast is a very lean cut that is located at the front of the bird. Our recipe has been around since 1963. We hand cut and mix, then slow smoke for over 12 hours in our unique custom brick smokehouses. After you open the vacuum pouch you’ll remember all those pleasant aromas coming out of the kitchen Thanksgiving morning. Gluten and MSG FREE!</p>
            </div>
        </div>
        <div class="modal-meat-source">
            <div class="modal-content-wrapper">
                <p class="option-title-black-modal">From Texas Farms</p>
                <p class="option-description-black-modal">We take USA Turkey only, non-injected, locally sourced turkey to make this amazing product. The ingredients are few and the taste is HUGE!</p>
            </div>
        </div>
        <div class="modal-meat-description-1">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Turkey Breast</p>
            </div>
        </div>
        <div class="modal-image-container">
            <div class="modal-image-wrapper">
                <div class="modal-img">
                    <img class="lazyload beef-img blur-up" data-src="{{ 'turkeyDiagram.png' | asset_url }}">
                </div>
            </div>
        </div>
        <div class="modal-meat-ingredients">
            <div class="modal-content-wrapper">
                <p class="option-title-white">Ingredient List and Flavors</p>
                <p class="option-description-white">These recipes have been around since 1963.</p>
            </div>
        </div>
        <div class="modal-flavor-container">
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up" data-src="{{ 'modalFlavorOriginal.svg' | asset_url }}">
                <p class="option-description-title-white">Original</p>
            </div>
            <div class="modal-content-wrapper centered-text">
                <img class="lazyload blur-up" data-src="{{ 'modalFlavorHot.svg' | asset_url }}">
                <p class="option-description-title-white">Hot and Spicy</p>
            </div>
        </div>
        <div class="modal-meat-build-your-bag">
            <div class="modal-content-wrapper">
                <p class="modal-footer-header">Build Your Bag</p>
                <p class="modal-footer-description">Get locally sourced jerky products from Texas.</p>
                <p class="modal-footer-description" style="font-size: 18px;padding: 1rem 0;">Starting at only $9.99!</p>
                <a class="modal-button go-to-shop-btn" href="#buy" rel="modal:close">GET STARTED</a>
            </div>
        </div>
        <div class="modal-img">
            <img class="lazyload blur-up" data-src="{{ 'turkeyNutrition.jpg' | asset_url }}">
        </div>
    </div>
</div>
