{% include 'product-content.zipifypages', contentprt: 'header' %}<!-- Included Custom-carouel.js file -->

{{ 'custom-carousel.js' | asset_url | script_tag }}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <!-- <div class="section-header section-header--breadcrumb">
{% include 'breadcrumb' %}
</div> -->

  <div class="product-single">
    <div class="grid product-single__hero">
      <div class="grid__item large--one-third aimg">
        {% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

        <div class="timg col-md-2">
          {% if product.images.size > 1 %}
          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
            {% for image in product.images %}
            <li class="grid__item medium-down--one-third">
              <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="mimg col-md-10">
          <div class="product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>
        </div>

        {% else %}

        <div class="grid">

          <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
          </div>

          <div class="grid__item one-fifth">

            <ul class="grid product-single__thumbnails" id="ProductThumbs">
              {% for image in product.images %}
              <li class="grid__item">
                <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                  <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
              {% endfor %}
            </ul>

          </div>

        </div>

        {% endif %}

        {% if settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

      <div class="grid__item  product-description rte large--one-third dimg" itemprop="description">

        {{ product.description }}

      </div>

      <div class="grid__item large--one-third">
        <div class="col-md-10">
          {% comment %}
          <h3 itemprop="brand">{{ product.vendor }}</h3>
          {% endcomment %}
          <h1 itemprop="name">{{ product.title }}
            <div class="product-single__prices">
              <span id="ProductPrice" class="product-single__price" itemprop="price">
                {{ product.price | money }}
              </span>

              {% if product.compare_at_price > product.price %}
              <s id="ComparePrice" class="product-single__sale-price">
                {{ product.compare_at_price_max | money }}
              </s>
              {% endif %}
            </div>
          </h1>


          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            {% assign variant = product.selected_or_first_available_variant %}

            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">



            <form action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data" id="AddToCartForm" class="addto">
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->

              <select name="id" data-productid="{{ product.id }}" id="productSelect" class="product-single__variants">
                {% for variant in product.variants %}
                {% if variant.available %}

                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-price="{{ variant.price | money_without_currency | remove: ',' }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
                {% endfor %}
              </select>

              <div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
                <label for="Quantity"><img src="https://cdn.shopify.com/s/files/1/1110/8120/files/star1.png?15027341013309203670" /> select {{ 'products.product.quantity' | t }}</label>
                <div class="qbtn">
                  <div class="col-md-3 udb decre">
                    <img src="https://cdn.shopify.com/s/files/1/1110/8120/files/uparrow.png?6218583712337790473" />
                  </div>
                  <div class="col-md-4">
                    <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                  </div>
                  <div class="col-md-3 udb incre">
                    <img src="https://cdn.shopify.com/s/files/1/1110/8120/files/downarrow.png?6218583712337790473" />
                  </div>
                </div>
              </div>
              
              <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
              <input name="email" type="hidden" value="{{ customer.email }}" > 
              <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
              <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
              <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
              <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
              <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
              <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
              <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
              <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
              <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
              <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
              {% include 'bold-ro' with product %}

              {% if product.available %}
              <button type="submit" name="add" id="AddToCart" class="btn addtocart">
                <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
              {% else %}
              <button type="btn" name="add" id="" class="btn " disabled>
                <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
                <span id="">Sold Out</span>
              </button>
              {% endif %}
            </form>
          </div>
        </div>

        <div class="col-md-2 custom_scl">          
          {% include 'social-links' %}
        </div>

      </div>
    </div>
  </div>






  {% include 'similar-products' %}



</div>
</div>
</mainn>
<div class="border_img"></div>
<div class="row">
  <div class="custom_description_main col-md-8">
    <div class="custom_description_inner">
      <div class="description_left">
      </div>
      <div class="review_right">

        <div class='span12'>
          <div id='judgeme_product_reviews' data-product-title='{{product.title}}' data-id='{{product.id}}'>{{ shop.metafields.judgeme.settings }}{{ product.metafields.judgeme.widget }}</div>
        </div>

      </div>
    </div>   
  </div>
</div>


<div>
  <input type="hidden" class="totalprod" value="{{ collection.products.size }} ">
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
      sold_out : "{{ 'products.product.sold_out' | t }}",
      unavailable : "{{ 'products.product.unavailable' | t }}"
    }
                       });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0"><img src="https://cdn.shopify.com/s/files/1/1110/8120/files/star1.png?15027341013309203670" /> {{ product.options.first | escape }}</label>');
                                         {% endif %}

                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}
  });

  jQuery(document).ready(function(){
    var qty=$('#Quantity').val();
    jQuery('.incre').click(function(){ 
      qty++;
      jQuery('#Quantity').val(qty);   
      //Quantity increment
    });

    jQuery('.decre').click(function(){
      if(qty>0){
        qty--;
        jQuery('#Quantity').val(qty);
        //Quantity decrement
      }
    });

    // Get URL
    var currenturl= window.location.href;
    var beefUrl= 'http://bulk-test-store.myshopify.com/collections/beef-jerky';
    if(currenturl != beefUrl){
      jQuery( ".grid-link__title" ).remove();
    }
    //Getting Description
    var desc= jQuery('.product-description').html();
    jQuery('.description_left').html(desc);
    jQuery('.description_left .nutri_main').remove();
    jQuery('.product-description').contents(':not(.nutri_main)').remove();
  });

</script>
{% include 'product-content.zipifypages', contentprt: 'footer' %}